<b>
  Match Summary!!
</b>
<div class="container" *ngIf="showDetails">
  <div class="row">
  <div class="col-xs-3">Match winner</div>
  <div class="col-xs-3">{{matchDetail.winner}}</div>
  </div>
  <div class="row">
  <div class="col-xs-3">player of match</div>
  <div class="col-xs-3">{{matchDetail.player_of_match}}</div>
  </div>
  <div class="row">
  <div class="col-xs-3">toss winner</div>
  <div class="col-xs-3">{{matchDetail.toss_winner}}</div>
  </div>
  <div class="row">
  <div class="col-xs-3">city</div>
  <div class="col-xs-3">{{matchDetail.city}}</div>
  </div>
  <div class="row">
  <div class="col-xs-3">venue</div>
  <div class="col-xs-3">{{matchDetail.venue}}</div>
  </div>
  <div class="row">
  <div class="col-xs-3">venue</div>
  <div class="col-xs-3">{{matchDetail.venue}}</div>
  </div>
</div>